<h1>Level 4</h1>
<table class="connect-four-board">
  <tbody>
    <tr>
      <td class=indicator *ngFor="let col of board.boardContent[0]; let i = index">
        <app-column-indicator [columnIndex]="i" (drop)="board.drop($event)" [playerIndex]="board.playerIndex">
        </app-column-indicator>
      </td>
    </tr>
    <tr *ngFor="let row of board.boardContent; let i = index">
      <td *ngFor="let col of row; let j = index">
        <div class="coin" [class]="getStyle(j,i)"></div>
      </td>
    </tr>
  </tbody>
</table>
<h2 [hidden]="board.winnerIndex === 0">The winner is {{getWinnerName()}}</h2>
<button (click)="board.onRestart()">Restart</button>
